:root {
    --gaugeColor: rgb(56, 160, 240);
    --size: 100px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {

    padding: 0px 50px;
}

header {
    padding: 25px;
    text-align: center;
}

header h1 {
    font-size: 7rem;
}

header p {
    font-size: 1.4rem;
}

.loadingHidden {
    display: none;
}

.o-pokeball {
    width: var(--size);
    height: var(--size);
    border-radius: var(--size);
    border: solid 2px black;
    position: relative;
    background: linear-gradient(to bottom, #eeeeee 0%, #ffffff 100%);
    margin: 180px auto;
}

.o-pokeball:before, .o-pokeball:after {
    content: "";
    display: block;
}

.o-pokeball, .o-pokeball:before, .o-pokeball:after {
    transition: all 600ms cubic-bezier(0.67, 0.4, 0.36, 0.75);
}

.o-pokeball:before {
    width: 100%;
    height: calc(var(--size) / 2 - var(--size) / 25 / 2);
    border-bottom: solid calc(var(--size) / 25) black;
    border-radius: calc(var(--size) / 2) calc(var(--size) / 2) 0 0;
    background: linear-gradient(to bottom, #d10000 0%, #ff0000 50%);
}

.o-pokeball:after {
    content: "";
    width: calc(var(--size) / 5);
    height: calc(var(--size) / 5);
    background: linear-gradient(to bottom, #fff 0%, #ccc 100%);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    box-shadow: 0 0 0 calc(var(--size) / 50) black,
                0 0 0 calc(var(--size) / 25) #ddd,
                0 0 0 calc(var(--size) / 14) black,
                0 0 calc(var(--size) / 10) calc(var(--size) / 17) rgba(0, 0, 0, 0.4);
}

.u-pulse {
    -webkit-animation: pulse 500ms infinite;
    animation: pulse 500ms infinite;
}
/* transform: rotate(calc(18deg * var(--i))); */

.mainHidden {
    display: none;
    position: -webkit-sticky;
    position: sticky;
    top: 20px;
}

.searchBar {
    min-width: 300px;
    max-width: 500px;
    margin: 50px auto 0px auto;
}

input {
    width: 100%;
    height: 35px;
    font-size: 1.3em;
    text-align: center;
}

nav {
    max-width: 700px;
    margin: auto;
}


/*#region Type buttons */

ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 10px 0px;
}

li {
    min-width: 140px;
    margin: auto;
    text-align: center;
    padding: 2px 10px;
}

button:hover {
    color: white;
}

button {
    width: 100%;
    height: 30px;
    font-size: 1.1em;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.fireUnfocus {
    color: #EA7A3C;
}

.fireFocus {
    background-color: #EA7A3C;
    color: white;
}

.fireFocus:hover {
    background-color: gray;
    color: #EA7A3C;
}

.fireUnfocus:hover {
    background-color: #EA7A3C;
}

.waterUnfocus {
    color: #539AE2;
}

.waterFocus {
    background-color: #539AE2;
    color: white;
}

ul :nth-child(2) button:hover {
    background-color: #539AE2;
}

.grassUnfocus {
    color: #71C558;
}

.grassFocus {
    background-color: #71C558;
    color: white;
}

ul :nth-child(3) button:hover {
    background-color: #71C558;
}

.bugUnfocus {
    color: #94BC4A;
}

.bugFocus {
    background-color: #94BC4A;
    color: white;
}

ul :nth-child(4) button:hover {
    background-color: #94BC4A;
}

.flyingUnfocus {
    color: #7DA6DE;
}

.flyingFocus {
    background-color: #7DA6DE;
    color: white;
}

ul :nth-child(5) button:hover {
    background-color: #7DA6DE;
}

.normalUnfocus {
    color: #AAB09F;
}

.normalFocus {
    background-color: #AAB09F;
    color: white;
}

ul :nth-child(6) button:hover {
    background-color: #AAB09F;
}

.poisonUnfocus {
    color: #B468B7;
}

.poisonFocus {
    background-color: #B468B7;
    color: white;
}

ul :nth-child(7) button:hover {
    background-color: #B468B7;
}

.electricUnfocus {
    color: #E5C531;
}

.electricFocus {
    background-color: #E5C531;
    color: white;
}

ul :nth-child(8) button:hover {
    background-color: #E5C531;
}

.groundUnfocus {
    color: #CC9F4F;
}

.groundFocus {
    background-color: #CC9F4F;
    color: white;
}

ul :nth-child(9) button:hover {
    background-color: #CC9F4F;
}

.fairyUnfocus {
    color: #E397D1;
}

.fairyFocus {
    background-color: #E397D1;
    color: white;
}

ul :nth-child(10) button:hover {
    background-color: #E397D1;
}

.fightingUnfocus {
    color: #CB5F48;
}

.fightingFocus {
    background-color: #CB5F48;
    color: white;
}

ul :nth-child(11) button:hover {
    background-color: #CB5F48;
}

.psychicUnfocus {
    color: #E5709B;
}

.psychicFocus {
    background-color: #E5709B;
    color: white;
}

ul :nth-child(12) button:hover {
    background-color: #E5709B;
}

.rockUnfocus {
    color: #B2A061;
}

.rockFocus {
    background-color: #B2A061;
    color: white;
}

ul :nth-child(13) button:hover {
    background-color: #B2A061;
}

.ghostUnfocus {
    color: #846AB6;
}

.ghostFocus {
    background-color: #846AB6;
    color: white;
}

ul :nth-child(14) button:hover {
    background-color: #846AB6;
}

.iceUnfocus {
    color: #70CBD4;
}

.iceFocus {
    background-color: #70CBD4;
    color: white;
}

ul :nth-child(15) button:hover {
    background-color: #70CBD4;
}

.dragonUnfocus {
    color: #6A7BAF;
}

.dragonFocus {
    background-color: #6A7BAF;
    color: white;
}

ul :nth-child(16) button:hover {
    background-color: #6A7BAF;
}

.darkUnfocus {
    color: #736C75;
}

.darkFocus {
    background-color: #736C75;
    color: white;
}

ul :nth-child(17) button:hover {
    background-color: #736C75;
}

.steelUnfocus {
    color: #89A1B0;
}

.steelFocus {
    background-color: #89A1B0;
    color: white;
}

ul :nth-child(18) button:hover {
    background-color: #89A1B0;
}

/*#endregion Type buttons */

.filterHidden {
    display: none;
}

.filter {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    right: 0px;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, .6);
    z-index: 1;
}

.closePokemonInfoCard {
    border: 1px solid red;
}

.openPokemonInfoCard {
    border: 1px solid white;
}

.pokemonInfoCard {
    cursor: default;
    position: relative;
    display: block;
    z-index: 5;
    width: 580px;
    height: 450px;
    margin: 10px auto;
    background-color: white;
    border-radius: 15px;
}

.pokemonInfoCard img {
    width: 200px;
}

.pokemonImageCard {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#pokemonInformation {
    background-color: white;
    width: 700px;
    height: 400px;
}

#pokemonContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 50px;
}

.pokemonCard {
    width: 300px;
    height: 400px;
    margin: 10px auto;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .15);
}

.pokemonCard h1, .pokemonInfoCard h1 {
    transform: skewX(20deg);
    text-align: center;
    margin-top: 8px;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.pokemonCard img {
    width: 100%;
    transition: .5s;
}

.pokemonCard img:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.pokemonTypes {
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 200px;
}

.pokemonTypes p {
    padding: 2px 5px;
    font-size: 1.2em;
    border-radius: 4px;
    text-align: center;
    margin: auto;
}

.statContainer {
    margin-left: 32px;
    display: grid;
    grid-template-columns: repeat(6, minmax(0, 1fr));
    max-width: 500px;
    /* margin: auto; */
}

.statBlock {
    position: relative;
    display: flex;
    flex-direction: row;
    text-align: center;
    width: 50px;
    margin: auto;
}

.statBlock > p {
    position: absolute;
    width: 140px;
    text-align: left;
    margin-top: 15px;
    top: 0;
    left: 73px;
    transform-origin: 0 0;
    transform: rotate(90deg);
    font-size: 1.2em;
}

.stats {
    width: 100%;
    height: 135px;
    margin: 10px auto;
    border: 1px solid black;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 50px;
    overflow: hidden;
    transform: rotate(180deg);
}

.stats p {
    width: 100%;
    margin-top: 40px;
    color: white;
    font-weight: 600;
    transform: rotate(180deg);
}

.wave{
    position:relative;
    width: 70px;
    height: 70px;
}

.wave:before,.wave:after{
    content:'';
    position:absolute;
    width:200%;
    height:200%;
    top: 0;
    left: 40%;
    transform:translate(-50%,-75%);
    background:#000;
}

.wave:before{
    border-radius:45%;
    background: var(--gaugeColor);
    animation: animate 10s linear infinite;
  }

.wave:after{
    border-radius:50%;
    background:rgba(255,255,255,.5);
    animation: animate 5s linear infinite;
}

@keyframes animate{
    0%{
       transform:translate(-50%,-75%) rotate(0deg);
    }
    100%{
       transform:translate(-50%,-75%) rotate(360deg);
    }
}